/*comienza seccion 5-6*/
*{
	margin: 0;
	padding: 0;
}

.body{
	background-color: #fbd43b;
}

.j-row {
	margin-bottom: 0;
}

.img-check{
    margin-top: 135px;
    width: 30%;
}

.img-bcp{
	margin-top: 34px;
	width: 30%;
}

.btn-mio{
    background-color: #e1e1e1;
    margin-top: -50px;
    width: 45%;
    padding: 0;
}

.btn-regis{
	background-color: #e1e1e1;
	width: 45%;
    padding: 0;
}

.titulo-1{
	font-size: 15px;
	font-weight: 700;
}

.parrafo{
	font-size: 10px;
	color: #A49696;
}

.j-input {
	z-index: 2;
}

.escanear {
	font-size: 10px;
    color: #00c3a3;
}

.tarjeta {
	display: inline-block;
}

.card {
	width: 6%;
	margin-bottom: -40px;
}

.scan {
	width: 14px;
	margin-left: 1%;
}

.fecha-v {
	h6 {
		font-size: 10px;
		color: #A49696;
	}
	h5{
		font-size: 20px;
	}
}
/*termina seccion 5-6*/

/*Empeza parte 3-4 */
.part-3{
	.mesagge{
		margin-top:15rem;
	}
	h5{
		color:gray;
	}
	#first_name{
		margin-top:10rem;
	}
}
.part-4{
	.mesagge-dos{
		margin-top:15rem;
	}
	h5{
		color:gray;
	}
	#first_name{
		margin-top:10rem;
	}
}